body{
  font-family: 'Dancing Script', cursive;
  animation-name: AnimacionCargaPagina;
  animation-duration: 0.5s;
}

header {
  background: #5b7989;
  padding: 15px 15px 15px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

a[href=".\/index.html"] {
  text-decoration: none;
}

a[href="../src/paisajes.html"] {
  text-decoration: none;
}

a[href="../src/retratos.html"] {
  text-decoration: none;
}

a{
  color:inherit;
  font-weight: bold;
  font-size: 20px;
}

a:visited{
  color:white;
}

.contenedor {
display: flex;
flex-direction: column;
}

header h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px #02010a;
  -webkit-text-shadow: 2px 2px #02010a;
}

footer{
  text-align: center;
  padding-top: 20px;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px
}


#titulo{
  width:100%;
}

#menu{
  width:100%;
  text-align: center;
  color: white;
}

#section1 {
  background: #82c3a6;
  padding-bottom: 40px;
}

#section2{
  background: #d5c75f;
  padding-bottom: 40px;
}

#imagen1{
  padding-top: 5%;
}

#imagen1 img{
  margin:auto;
  display: block;
  width: 30%;
}

#imagen2{

}

#imagen2 img{
  width: 450px;
  margin:auto;
  display: block;
  border: 1px solid;

}

#imagen3 img{
  margin:auto;
  display: block;
  width: 450px;
  border: 1px solid;
}

#imagen2{
  width:100%;
  text-decoration: underline;
  font-size: 20px;
}

#imagen3{
  width:100%;
  text-decoration: underline;
  font-size: 20px;
}

img{
  box-shadow: 2px 2px  #02010a;
}


#section2{
  padding: 5% 0 5% 0;
}

#section1{
  display: flex;
  flex-direction: column;
}

#destacados .contenedor > div {
  text-align: center;
  width: 50%;
}

#contacto{
  width:100%;
}

#terminos{
  width:100%;
}

#redes{
  width:100%;
}

#derechos{
  width:100%;
}

@media (min-width:800px){
  h1{
    text-align: left;
  }

  #titulo{
    width:50%;
  }

  #menu{
    display: block;
    text-align: right;
    width:50%;
  }

  #imagen2{
    width:50%;
    text-align: center
  }

  #imagen3{
    width:50%;
    text-align: center;
  }

  #contacto{
    width:25%;
  }

  #terminos{
    width:25%;
  }

  #redes{
    width:25%;
  }

  #derechos{
    width:25%;
  }

  .contenedor {
  display: flex;
  flex-direction: row;
  text-align: center;
  }
}

#imagen2 img:hover{
  animation-name: InclinacionImagenForward;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#imagen3 img:hover{
  animation-name: MoverImagenForward;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes AnimacionCargaPagina{
  0%{
    margin-top: 150%;
  };
  60%{
    margin-top: -5%;
  };
  100%{
    margin-top: 0%;
  };
}

@-webkit-keyframes InclinacionImagenForward{
		from
		{
		}

		to
		{
			transform:rotate(15deg);
      box-shadow: 2px 2px #82c3a6;
		}
}


@-webkit-keyframes InclinacionImagenBackward{
		from
		{
      transform:rotate(15deg);
		}

		to
		{
			transform:rotate(0deg);
		}
}

@-webkit-keyframes MoverImagenForward{
		from
		{
    }

		to
		{
			transform:translate(20px,-5px);
      box-shadow: 2px 2px #82c3a6;
		}
}
